hr {
    width: 100%;
}
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.row {
    display: flex;
    flex-direction: row;
}
div.io-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: fixed;
    padding: 10px;
    left: 0;
    z-index: 1000;
    border: thick double #aaaaaa;
}
textarea#io-input {
    width: 400px;
    height: 400px;
    resize: both;
}
div.results-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: fixed;
    padding: 10px;
    right: 0;
    z-index: 1000;
    border: thick double #aaaaaa;
}
p.result {
    text-align: right;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p.result-bad {
    background-color: #ffcccc;
}
div#additional-results {
    text-align: right;
}
div.io-input-buttons {
    display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}